/* Introduction text  */

a:hover {
  color: #656565;
  text-decoration: none;
  font-weight: 380;
}

a {
  color: #a56b89;
  font-weight: 380;
}

#aboutSub {
  font-size: 20px;
  font-weight: 300;
}

#skillsInfo {
  width: 65%;
  margin: auto;
  margin-bottom: 40px;
  font-weight: 280;
}

#skillsIntro {
  text-align: center;
  color: #678688;
  font-size: 18px;
}

h1 span::before {
  content: "\A";
  white-space: pre;
}

h1 {
  text-align: center;
  width: 100%;
}

h1 span {
  font-family: "Marck Script", cursive;
}

h2 {
  font-size: 28px;
  font-weight: 280;
  color: #a56b89;
}

h3 {
  font-weight: 280;
  color: #656565;
}

#subHeader {
  width: 100%;
}

.fontCustomColor {
  color: #678688;
}

/* Navbar */
.uk-navbar {
  margin-left: -47px;
}

/* Profile Image */
#imageProfile {
  position: relative;
  left: 10%;
  top: -89px;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: 6px solid #f8f8f8;
  outline-offset: -3px;
}

/* Basic Info*/

#basicInfo {
  width: 50%;
  float: left;
  margin-left: 10%;
  margin-top: -50px;
  font-weight: 280;
}
/* About Me Section */

#aboutSection {
  margin-top: -100px;
  background-image: url(https://i.imgur.com/IM845T4.jpg);
}

#profilePicture {
  margin-left: 32%;
}

#aboutMe {
  max-width: 92%;
  margin-left: -16%;
}

#devTable {
  text-align: center;
  font-size: 13px;
}

#devTable td span {
  background-color: #e9efef;
}

.skillsText {
  font-size: 13px;
}

.cardSkillWidth {
  max-width: 120px;
  min-width: 120px;
}

#adobeText {
  line-height: -1.5 !important;
}

#portfolioSection {
  background-color: #bdcfcf;
  font-weight: 280;
}

#projects {
  width: 85%;
  margin: auto;
  margin-top: 30px;
}

#aboutInfo {
  margin-left: 7%;
  max-width: 300px;
  min-width: 300px;
  float: left;
  font-weight: 280;
  font-size: 16px;
}

#aboutInfo p {
  margin-top: -12px;
  margin-bottom: -12px;
}
.infoTitle {
  color: #a56b89;
  font-weight: 400;
}

.headers {
  color: #a56b89;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.headerWhite {
  color: azure;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.skillIcon {
  border-top: 2px solid #bdcfcf;
}

#connectText {
  width: 500px;
  margin: auto;
}

#footerSection {
  text-align: center;
  color: lightgray;
  padding-bottom: 30px;
}

@media only screen and (max-width: 989px) {
  #imageProfile {
    margin-top: 30px;
    position: static;
    margin-left: 40%;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: 6px solid #f8f8f8;
    outline-offset: -3px;
    z-index: auto;
  }

  #aboutMe {
    margin: auto;
  }

  #aboutInfo {
    margin-top: 90px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  #basicInfo {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 65%;
  }
}

@media only screen and (max-width: 801px) {
  #imageProfile {
    position: static;
    margin-left: 40%;
    width: 165px;
    z-index: auto;
  }

  #aboutMe {
    margin: auto;
  }

  #aboutInfo {
    margin-top: 90px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  #basicInfo {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 90%;
  }

  #skillsInfo {
    width: 90%;
  }
}

@media only screen and (max-width: 698px) {
  #imageProfile {
    position: static;
    margin-left: 35%;
    width: 165px;
    z-index: auto;
  }

  #subHeaderHolder {
    margin-top: 108px;
  }
}
